.header {
  //  position: relative;
  //  top:0px;
   height:60px;
   width:100%;

   background-color: white;
   border-bottom: 2px solid #bfcad2;

   display: flex;
   justify-content: space-between;
}

.header-buttons, .logo {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  margin-left: 20px;
  color: #D4490B;
  font-weight: bolder;
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
}

.header-buttons {
  margin-right: 20px;
}

.header-buttons > li {
  margin-left: 5px;
  margin-right: 5px;
}
