form input, form textarea, form select {
  border: 1px solid lightsteelblue;
  width: 75%;
  border-radius: 4px;
  margin: 6px;
  border-style: inset;
}

.form-errors {
  list-style: none;
  color: indianred;
  width: 75%;
}

.modal {}

.modal-header, .modal-body, .modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-footer ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

.modal-footer ul > li {
  margin: 2% 12% 0 12%;
}

.login.modal-footer ul > li:first-child {
  margin-bottom: 5%;
}

.join.modal-footer ul > li.words:nth-last-child(2) {
  margin-top: 6%;
}

.modal-footer ul > li.words {
  align-self: center;
}

.modal-footer button {
  width: 100%;
}

.open-modal-button {}

.open-modal-button {}

.modal-title {}

.modal-form {}

.modal-body {}

.modal-footer {}
