@import 'color_palette';

.planet-show-container {
  background-color: black;
}

.planet-show {
  height: 600px;
  background-position: 0 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  border-bottom: 2px solid $light-blue;

  animation-name: loadPlanetImage;
  animation-duration: 2s;
}

.planet-info {
  color: $lime-white;
  text-shadow: -1px 0 #2D3B60, 0 1px #2D3B60, 1px 0 #2D3B60, 0 -1px #2D3B60;
  font-family: 'Lato', sans-serif;

  margin: 0 5% 0 0;
  padding: 0;
  border: 0;

  position: relative;
  top: 25%;
  width: 350px;
}

.planet-info > h1 {
  font-size: 55px;

  margin: 0 5% 0 0;
  padding: 0;
  border: 0;
}

.planet-info > p {
  font-size: 30px;
  font-style: italic;

  margin: 0 5% 0 0;
  padding: 0;
  border: 0;
}

@keyframes loadPlanetImage {
  0% {
    opacity: 0;
    display: none;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
