.footer {
  //  height:100px;
   width:100%;
   height: 150px;

   background-color: white;
   border-top: 2px solid #bfcad2;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.footer > div {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.footer-about {
  width: 50%;
  justify-content: space-around;
}

.footer-links {
  width: 32%;
  justify-content: center;
}

.footer a {
  margin: 0 15px;
  font-size: 16px;
}

.footer img {
  width: 30px;
  height: 30px;
}

.footer p {
  margin: 0;
  // padding: 6px;
}
