.footer {
   height:60px;
   width:100%;

   background-color: white;
   border-top: 2px solid #bfcad2;

   display: flex;
   justify-content: center;
   align-items: center;
}

.footer > a {
  margin: 0 40px 0 40px;
}
