.footer {
  //  height:100px;
   width:100%;

   background-color: white;
   border-top: 2px solid #bfcad2;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  margin: 10px 40px;
}

.footer img {
  width: 30px;
  height: 30px;
}

.footer p {
  margin: 0;
}
