<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SolarSurfing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://use.fontawesome.com/ecf16c0d92.js"></script>
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
      <% end %>
    </script>
  </head>
  <body>
    <main id="root"></main>
  </body>
</html>
