@import 'color_palette';

.splash-background {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: border-box;
  background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-background:not(:first-child) {
  border-top: 2px solid $light-blue;
  display: flex;
  flex-direction: row;
}

.splash-background.top {
  background-image: url(https://res.cloudinary.com/dmgrq5xrb/image/upload/v1490208847/Splash/splash1_daizw1.jpg);
}

.splash-background.middle {
  background-image: url(https://res.cloudinary.com/dmgrq5xrb/image/upload/v1490208848/Splash/splash5_j8fu11.jpg);
}

.splash-background.bottom {
  background-image: url(https://res.cloudinary.com/dmgrq5xrb/image/upload/v1492023375/Splash/splash9_egbyeu.jpg);
}

.splash-background > .image-content {
  color: white;
  text-shadow: -1px 0 #2D3B60, 0 1px #2D3B60, 1px 0 #2D3B60, 0 -1px #2D3B60;
  font-family: 'Lato', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 170px;
  }
}

.splash-background > .content-box {
  background-color: white;
  color: black;
  width: 40%;
  height: 90%;
  border: 2px solid $gray;
}

.splash-background.middle > .content-box {
  margin-right: 40px;
  height: initial;
}

.splash-background.bottom > .content-box {
  margin-left: 40px;
  height: initial;
}

.splash-background > .image-content {
  width: 60%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  color: $midnight-blue;
}

.testimonial-title {
  margin-bottom: 15px;
}

.testimonial-images {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.testimonial-images > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid $gray;
}

.testimonial-subtitle {
  border-bottom: 4px solid $midnight-blue;
  width: 35%;
  padding: 15px;
  text-align: center;
}

#start-exploring {
  position: absolute;
  top: 394px;
  left: 44%;
}
