@import 'color_palette';

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 2px solid $light-blue;
  border-top: 2px solid $light-blue;
  padding: 25px;

  background-color: $midnight-blue;
  color: $lime-white;
}

.reviews-container > h1 {
  text-align: center;
}

.review-form-container > h2 {
  text-align: center;
  padding-top: 30px;
  margin: 0;
  font-size: 25px;
}

.review-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0 30px;
}

.review-form-body {
  min-height: 80px;
  max-width: 46%;
  padding: 15px;
}

.review-form-radio-group {
  display: flex;
  min-width: 100px;
  margin: 10px 0 16px;
}

.review-form-radio-group > input[type=radio] {
  position: relative;
  left: 13px;
}

.review-form-radio-group-and-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
}

.reviews-index {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.reviews-index-item {
  padding: 30px;
  border-bottom: 1px solid $gray;
}

.reviews-index-item-content {
  display: flex;
  position: relative;
}

.reviews-index-item-content > li {
  margin: 0 20px;
}

.review-thumbnail {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 10px;

  width: 100px;
  height: 100px;
}

.hosts-index-item-thumbnail:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.review-body {
  text-align: left;
}

.review-body p {
  padding-right: 90px;
}

.review-rating {
  position: absolute;
  right: 0;
}

.review-rating > aside {
  display: flex;

  img {
    width: 15px;
    height: 15px;
  }
}

.review-form-container > .form-errors {
  display: flex;
  padding-right: 50px;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
