@import 'color_palette';

.example-enter {
  transform: translate(100%);
}
.example-enter.example-enter-active {
  transform: translate(0%);
  transition: transform 3000ms ease-in-out;
}
.example-leave {
  transform: translate(0%);
}
.example-leave.example-leave-active {
  transform: translate(-100%);
  transition: transform 3000ms ease-in-out;
}


.book-host-container {
  display: flex;
  // border: 2px solid green;

  // overflow-y: hidden;
  // max-height: 500px; /* approximate max height */
  //
  // transition-property: all;
  // transition-duration: 3s;
  // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.host-show {
  width: 70%;
  // border: 2px solid blue;
  padding: 25px;

  background-color: $midnight-blue;
}

.host-profile-pic {
  display: block;
  float: left;

  width: 200px;
  height: 200px;

  border: 1px solid gray;
  border-radius: 6px;
  padding: 10px;
  margin: 25px;
}

.host-username {
  // border: 2px solid red;
  text-align: center;
  margin: 0;

  color: $lime-white;
}

.host-bio {
  // border: 2px solid green;

  color: $lime-white;
  font-size: 20px;
  padding: 25px;
}

.host-detail {
  // border: 2px solid blue;
}

.clearfix:after {
   content: "";
   display: block;
   clear: both;
}
