@import 'color_palette';

.example-enter {
  transform: translate(100%);
}
.example-enter.example-enter-active {
  transform: translate(0%);
  transition: transform 3000ms ease-in-out;
}
.example-leave {
  transform: translate(0%);
}
.example-leave.example-leave-active {
  transform: translate(-100%);
  transition: transform 3000ms ease-in-out;
}

#book-host-reviews-container {
  display: flex;
  flex-direction: column;
}

.book-host-container {
  display: flex;
}

.host-show {
  width: 70%;
  padding: 25px;

  background-color: $midnight-blue;
}

.host-profile-pic {
  display: block;
  float: left;

  width: 200px;
  height: 200px;

  border: 1px solid gray;
  border-radius: 6px;
  padding: 10px;
  margin: 25px;
}

.host-username {
  text-align: center;
  margin: 0;
  color: $lime-white;
}

.host-bio {
  font-size: 20px;
  padding: 25px;
  color: $lime-white;
}

.clearfix:after {
   content: "";
   display: block;
   clear: both;
}
