@import 'color_palette';

.hosts-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $midnight-blue;
}

.hosts-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.hosts-index-item {
  display: flex;
  position: relative;

  border: 1px solid gray;
  border-radius: 6px;
  margin: 25px;
}

.hosts-index-item:hover {
  cursor: pointer;

  .hosts-index-item-username {
    transition: all 2s;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.hosts-index-item-username {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;

  color: $lime-white;
  font-family: 'Lato', sans-serif;
  text-shadow: -1px 0 #2D3B60, 0 1px #2D3B60, 1px 0 #2D3B60, 0 -1px #2D3B60;
  text-decoration: none;
  font-size: 30px;

  p {
    display: block;
    text-align: center;
    position: relative;
    top: 20%;
  }
}

.hosts-index-item a {
  position: relative;
}

.hosts-index-item img {
  width: 200px;
  height: 200px;
  padding: 10px;
}
